<%= form_with model: book, local: true do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :year %>
    <%= form.number_field :year, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :publish_date %>
    <%= form.date_field :publish_date, class: "form-control" %>
  </div>
  <% if book.author.present? %>
    <div class="form-group mb-3">
      <%= form.label :author %>
      <%= form.hidden_field :author_id, value: book.author_id %>
      <%= form.text_field :author, value: book.author.name, class: "form-control", disabled: true %>
    </div>
  <% else %>
    <div class="form-group mb-3">
      <%= form.label :author_id %>
      <%= form.collection_select :author_id, @authors, :id, :name_age, {prompt: 'Please select the author of this post'}, { class: "form-select" }%>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

